<div class="left">
    <img src="/commonImages/Green Plant and Agriculture Logo.png" alt="">
</div>
<div class="right-1">
    <a href="/admin/Dashboard">DASHBOARD</a>
    <a href="/admin/Feeds">FEEDS</a>
    <a href="/admin/Drugs">DRUGS</a>
    <a href="/admin/Machineries">MACHINERY</a>
    <a href="/admin/Seeds">SEEDS</a>
</div>
<div class="right-2">
    <button onclick="showRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
    <button onclick="closeRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
</div>