<div class="left">
    <img src="/commonImages/Green Plant and Agriculture Logo.png" alt="">
</div>
<div class="right-1">
    <a href="">SHOP</a>
    <a href="">SERVICES</a>
    <a href="">HELP</a>
    <a href="">ACCOUNT</a>
</div>
<div class="right-2">
    <button onclick="showRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
    <button onclick="closeRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
</div>