<%if(successMessage.length>0){ %>
    <div class="alert alert-success">
        <%=successMessage %>
    </div>
<% } %>
<%if(errorMessage.length>0){ %>
    <div class="alert alert-danger">
        <%=errorMessage %>
    </div>
<% } %>