<div class="right-1">
    <a href="/">HOME</a>
    <a href="/about">ABOUT US</a>
    <a href="/services">OUR SERVICES</a>
    <a href="/products">OUR PRODUCTS</a>
    <a href="/signup">SIGN UP</a>
    <a href="/login">LOG IN</a>
</div>
<div class="right-2">
    <button onclick="showRight1()" id="openTab"><i class="fa-solid fa-bars"></i></button>
    <button onclick="closeRight1()" id="closeTab"><i class="fa-solid fa-x"></i></button>
</div>