<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/header.ejs') %>
        <link rel="stylesheet" href="/adminDashboard/adminDashboard.css">
    </head>
<body>
    <div class="adminContainer">
        <div class="top">
            <%-include('./partials/adminTabs.ejs') %>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="welcome_message">
                    <h1>ADMIN DASHBOARD</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="content">
                    <div class="content-body">
                            <img src="/commonImages/animal drugs.jpg" alt="">
                            <div>
                                <h2>ANIMAL DRUGS</h2>
                                <br>
                                <p>Total Drugs = <span></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
                    <div class="content-body">
                        <img src="/commonImages/animal feeds.jpg" alt="">
                            <div>
                                <h2>ANIMAL FEEDS</h2>
                                <br>
                                <p>Total Feeds = <span></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
                    <div class="content-body">
                        <img src="/commonImages/Farm machinery.jpg" alt="">
                            <div>
                                <h2>FARM MACHINERY</h2>
                                <br>
                                <p>Total Machinery = <span></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
                    <div class="content-body">
                        <img src="/commonImages/seeds.jpg" alt="">
                            <div>
                                <h2>SEEDS</h2>
                                <br>
                                <p>Total Seeds = <span></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
    
                  
                </div>
            </div>
        </div>
    </div>
    <script src="/commonJavascript.js"></script>
</body>
</html>