<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/header.ejs') %>
        <link rel="stylesheet" href="/products/products.css">
    </head>
<body>
    <div class="productsContainer">
        <div class="top">
            <div class="left">
                <img src="/commonImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <%-include('./partials/tabs.ejs') %>
        </div>
        <div class="body">
            <div class="body-top">
                <img src="/products/products_Images/Maize (2).jpg" alt="">
                <div class="welcome_message">
                    <h1>Our Products</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="content">
                    <div class="content-body">
                        <div>
                            <h3>ANIMAL DRUGS</h3>
                        </div>
                    </div>
                    <div class="content-body">
                        <div>
                            <h3>ANIMAL FEEDS</h3>
                        </div>
                    </div>
                    <div class="content-body">
                        <div>
                            <h3>FARM MACHINERY</h3>
                        </div>
                    </div>
                    <div class="content-body">
                        <div>
                            <h3>SEEDS</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/commonJavascript.js"></script>
</body>
</html>