<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/services/services.css">
<body>
    <div class="servicesContainer">
        <div class="top">
            <%-include('./partials/tabs.ejs') %>
        </div>
        <div class="body">
            <div class="body-top">
                <img src="/services/services_Images/Yams.jpg" alt="">
                <div class="welcome_message">
                    <h1>OUR SERVICES</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="content">
                    <div class="content-body">
                        <img src="/services/services_Images/Consultations.jpg" alt="">
                        <div>
                            <h2>Consultation</h2>
                            <br>
                            <p>We Specialize in providing advice in all matters concerning the agricultural farming. 
                                Our audience includes individual farmers, companies and organizations.
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/services/services_Images/Soil Testing.jpg" alt="">
                        <div>
                            <h2>Soil testing and Fertilizer Services</h2>
                            <br>
                            <p>You may have found the right fertilizer for your farm, but without the proper amount of fertilizer 
                                for your treatments, your farm will not succeed.
                            </p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/services/services_Images/Training farmers.jpg" alt="">
                        <div>
                            <h2>Training Farmers</h2>
                            <br>
                            <p>Agricultural production systems are a sustainable way of providing nutritious and diversified foods</p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/services/services_Images/Crop nutrition.jpg" alt="">
                        <div>
                            <h2>Crop nutrition</h2>
                            <br>
                            <p>Yields and quality of products from crops are strongly linked to the supply of nutrients</p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/services/services_Images/Irrigation.jpg" alt="">
                        <div>
                            <h2>Irrigation</h2>
                            <br>
                            <p>Irrigation systems are the most efficient water and nutrient delivery system for growing crops.</p>
                        </div>
                    </div>
                    <div class="content-body">
                        <img src="/services/services_Images/cart.jpg" alt="">
                        <div>
                            <h2>Online Shopping</h2>
                            <br>
                            <p>Buy our goods online and get them delivered at your doorstep.</p>
                        </div>
                    </div>
                </div>
               <div>
               </div>
            </div>
           
        </div>
    </div>
    <script src="/commonJavascript.js"></script>
</body>
</html>