
.adminContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    padding: 3px;
}
.adminContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.adminContainer .body .body-content .content {
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 5vw;
    padding: 2vh 7.5vw;
}
.adminContainer .body .body-content .content .content-body{
    width: 30vw;
    height: max-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.adminContainer .body .body-content .content .content-body img{
    width: inherit;
    height: 60vh;
    object-fit: cover;
}
.adminContainer .body .body-content .content .content-body div{
    width: inherit;
    height: max-content;
    padding: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.adminContainer .body .body-content .content .content-body div h2{
    display: flex;
    justify-content: center;
}
.adminContainer .body .body-content .content .content-body div p span {
    color: #228B22;
}

/* Media querying the admin dashboard */
@media only screen and (max-width: 900px){
    .adminContainer .body .body-content {
        display: flex;
        justify-content: center;
        padding-bottom: 5vh;
    }
    .adminContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,63vw);
        gap: 5vw;
        padding: 2vh 7.5vw;
    }
    .adminContainer .body .body-content .content .content-body{
        width: 63vw;
        height: max-content;
        border-radius: 10px;
        box-shadow: 5px 5px 15px black;
    }
    .adminContainer .body .body-content .content .content-body img{
        width: inherit;
        height: 40vh;
        object-fit: cover;
    }
}