.servicesContainer{
    width: 99vw;
    height: max-content;
}
.servicesContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.servicesContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.servicesContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.servicesContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.servicesContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicesContainer .top .right-1 a {
    font-weight: bold;
}
.servicesContainer .top .right-2{
    display: none;
}
.servicesContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.servicesContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.servicesContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.servicesContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}
.servicesContainer .body .body-content .content {
    width: 80vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,30vw);
    gap: 5vw;
    padding: 2vh 7.5vw;
}
.servicesContainer .body .body-content .content .content-body{
    width: 30vw;
    height: max-content;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.servicesContainer .body .body-content .content .content-body img{
    width: inherit;
    /* height: 30vh; */
    height: 60vh;
    object-fit: cover;
}
.servicesContainer .body .body-content .content .content-body div{
    width: inherit;
    height: max-content;
    padding: 2vw;
}
.servicesContainer .body .body-content .content .content-body div h2{
    display: flex;
    justify-content: center;
}

@media only screen  and (max-width:900px){
    .servicesContainer {
        width: 99vw;
        height: max-content;
    }
    .servicesContainer .top {
        width: inherit;
        height: 10vh;
    }
    .servicesContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .servicesContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .servicesContainer .top .right-1{
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10vh;
        left: 0vw;
        right: 0vw;
        background-color: rgb(255, 255, 255,70%);
        transition: top 0.5s ease; /* Smooth transition */
        display: none;
    }
    .servicesContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .servicesContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .servicesContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .servicesContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .servicesContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .servicesContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .servicesContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(1,68.5vw);
        gap: 5vh;
        padding: 2vh 5vw;
    }
    .servicesContainer .body .body-content .content .content-body{
        width: 68.5vw;
        height: max-content;
    }
    .servicesContainer .body .body-content .content .content-body div{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .servicesContainer .body .body-content .content .content-body div p{
        font-size: 1.2rem;
    }
}