.signupContainer{
    width: 99vw;
    height: max-content;
}
.signupContainer .top {
    width: inherit;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
}
.signupContainer .top a {
    color: black;
    border: 1px solid #B2BEB5;
    padding: 2px;
}
.signupContainer .top .left{
    width: 18vw;
    height: inherit;
    display: flex;
    align-items: center;
}
.signupContainer .top .left img{
    width: 18vw;
    height: 18vh;
    object-fit: cover;
}
.signupContainer .top .right-1{
    width: 50vw;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signupContainer .top .right-1 a {
    font-weight: bold;
}
.signupContainer .top .right-2{
    display: none;
}
.signupContainer .body .body-top {
    width: 99vw;
    height: 50vh;  
}
.signupContainer .body .body-top img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    /* filter: blur(5px); */
}
.signupContainer .body .body-top div{
    height: max-content;
    background-color: rgb(255, 255, 255,70%);
    position: absolute;
    top: 40vh;
    left: 45vw;
    padding: 3px;
}
.signupContainer .body .body-content {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}
.signupContainer .body .body-content .content {
    width: 50vw;
    height: max-content;
    padding: 2vh 7.5vw;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.signupContainer .body .body-content .content .alert {
    display: flex;
    justify-content: center;
    animation: fadeOut 10s forwards;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signupContainer .body .body-content .content .alert-success{
    color: #1F75FE;
}
.signupContainer .body .body-content .content .alert-danger{
    color: red;
}
.signupContainer .body .body-content .content form {
    padding: 1vw;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
.signupContainer .body .body-content .content form label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.signupContainer .body .body-content .content form input {
    width: 30vw;
    height: 5vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    border: none;
}
.signupContainer .body .body-content .content form span {
    position: relative;
    bottom: 6vh;
    left: 29vw;
    transform: translateY(-50%);
    cursor: pointer;
}
.signupContainer .body .body-content .content form .button {
    display: flex;
    justify-content: center;
}
.signupContainer .body .body-content .content form .button button {
    background-color: #03C03C;
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.signupContainer .body .body-content .content form p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.signupContainer .body .body-content .content form p a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #03C03C;
}

/* media querying the signup page */
@media only screen  and (max-width:900px){
    .signupContainer .top {
        width: inherit;
        height: 10vh;
    }
    .signupContainer .top .left{
        width: 30vw;
        height: inherit;
    }
    .signupContainer .top .left img{
        width: 30vw;
        height: 10vh;
        object-fit: cover;
    }
    .signupContainer .top .right-1{
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;s */
        position: absolute;
        top: 10vh;
        left: 0vw;
        right: 0vw;
        background-color: rgb(255, 255, 255,70%);
        transition: top 0.5s ease; /* Smooth transition */
        display: none;
    }
    .signupContainer .top .right-2{
        display: block;
        display: flex;
        align-items: center;
    }
    .signupContainer .top .right-2 button{
        font-size: 2rem;
        border: none;
        background-color: white;
        color: black;
    }
    .signupContainer .top .right-2 button:nth-of-type(2){
        display: none;
    }
    .signupContainer .body .body-top {
        width: 99vw;
        height: 50vh;
    }
    .signupContainer .body .body-top img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        /* filter: blur(2px); */
    }
    .signupContainer .body .body-top div{
        width: 50vw;
        height: max-content;
        position: absolute;
        top: 30vh;
        left: 21vw;
        padding: 3px;
        text-align: center;
    }
    .signupContainer .body .body-content {
        display: flex;
        justify-content: center;
        padding: 5vh 0;
    }
    .signupContainer .body .body-content .content {
        width: 80vw;
        height: max-content;
        padding: 2vh 7.5vw;
    }
    .signupContainer .body .body-content .content form input {
        width: 60vw;
        height: 4vh;
    }
    .signupContainer .body .body-content .content form span {
        position: relative;
        bottom: 5vh;
        left: 55vw;
    }
}